

 /* --- Fonts selection ---*/
@import url(https://fonts.googleapis.com/css?family=Reenie+Beanie|Architects+Daughter|Rock+Salt|Special+Elite|Nunito|Inconsolata);
@import url(https://fonts.googleapis.com/css?family=ABeeZee:400,100,100italic,300,300italic,400italic,500,500italic,700,700italic,900,900italic);
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,100,100italic,300,300italic,400italic,500,500italic,700,700italic,900,900italic);

/* Global Styles */

body{
	/*background: #ffffff;*/
	color: #34495e;font-family: 'ABeeZee';size: 14px;
/*	background: url(../img/BookThatLesson.jpg) no-repeat center;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	background-size: cover;
	-o-background-size: cover;
	position:absolute;
		top:0;
	right:0;
	bottom:0;
	left:0;*/
}

.main-div {
	background: url(../img/BookThatLesson.jpg) no-repeat center;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	background-size: cover;
	-o-background-size: cover;
	filter: Alpha(Opacity=0);
	position:fixed !important;
	/*position:absolute;*/
	top:0;
	right:0;
	bottom:0;
	left:0;
	font-family: 'ABeeZee';
}

.div-background {
	margin-top: 100px;
	font-family: 'ABeeZee';
}

.log-me-in,
.im-new-here,
.express-appt {
	background-color: rgba(255,255,255,0.4);
	border-radius: 15px;
}

.user-profile {
  height: 400px;
  margin-top: -60px;
}


.logmein,
.imnewhere,
.expressappt {
	text-shadow: 1px 1px #999;
}

.top-padding {
	margin-top: 28px;
}

 /* Heading Style */

h1, h2, h3, h4, h5, h6{
	font-family: 'ABeeZee';}


/* NAV BAR Style*/

.navbar-inverse {
	color: #1e73be;
	background-color: rgba(255,255,255,0.5);
	border-color: #1e73be;
}

.navbar-inverse .navbar-brand {
	color: #1e73be;
}

a.navbar-brand:hover,
a.navbar-inverse:hover,
a.navbar-brand:focus,
a.navbar-inverse:focus,
a.navbar-brand:active,
a.navbar-inverse:active {
	color: #34495e;
}

@media (min-width: 768px) {
	.navbar-right {
	  float: right !important;
	  margin-right: 0px;
	  width: 175px;
		padding-top: 10px;
	}
}

.user-nav {
	padding-right: 20px;
	font-size: 2.2em;
}

/*.book-that-lesson {
	color: red;
}*/


/*Link Color*/

a {
	color: #aaa;
	text-decoration: none;
}


/*Link Hover Color*/

a:hover {
	color: #aaa;
	text-decoration: none;
}

a:active,
a:focus {
	color: #fff;
	text-decoration: none;
}

/* Header Style */

#header {
	background-color: #ffffff;}


/* Footer Style */

footer {
/*	position: relative;
	top: 615px;*/
	color: #1e73be;
	background-color: rgba(255,255,255,0.4);
}


.list-group-item {
  position: relative;
  display: block;
  padding: 10px 15px;
  margin-bottom: -1px;
  background-color: rgba(255,255,255,0.2);
  border: none;
  /* 1px solid rgba(255,255,255,0.2);*/
}

a.list-group-item .list-group-item-heading {
	text-align: center;
	font-size: 0.75em;
  color: #337ab7;
}

a.list-group-item,
a.list-group-item-text,
a.list-group-item-heading {
  color: #337ab7;
}

.instructor-profile {
	text-align: center;
	width: 100%;
}

.profile-details>ul {
	/*text-align: center;*/
	width: 100%;
}


.profile-details {
	text-align: left;
}

@media (min-width: 992px) {
	.col-md-9 {
  	width: 75%;
  	padding-left: 8%;
	}
}

.main-box .main-box-body {
  /* padding: 0 20px 20px 20px; */
  padding: 0px;
}

.text-info {
  color: #31708f;
  margin-left: 250px;
}

.lesson-selection {
	font-size: 2em;
}

.select-lesson {
  text-align: center;
  margin-top: 50px;
  /*font-size: 20px;*/
}

.main-box h2 {
  font-size: 2em;
  line-height: 29px;
  /* margin: 0; */
  padding: 0;
  text-align: center;
}

.description {
  width: 60%;
  text-align: center;
  margin-left: 15%;
  margin-right: 15%;
}

input, button, select, textarea {
  font-size: 20px;
}

.navbar-inverse .navbar-toggle .icon-bar {
  background-color: #1e73be;
}

.navbar-inverse .navbar-toggle {
  border-color: transparent;
}

.review {
	padding-left: 20%;
}


/* Interaction states
----------------------------------*/

.btn-primary {
  color: #fff;
  background-color: #337ab7;
  border-color: #2e6da4;
}

.btn-success {
  color: #fff;
  background-color: #5cb85c;
  border-color: #4cae4c;
}

.btn-info {
  color: #fff;
  background-color: #5bc0de;
  border-color: #46b8da;
}

.ui-state-primary,
.ui-widget-content .ui-state-primary,
.ui-widget-header .ui-state-primary {
  color: #fff;
  background-color: #337ab7;
  border-color: #2e6da4;
}

.ui-state-default,
.ui-widget-content .ui-state-default,
.ui-widget-header .ui-state-default {
  color: #fff;
  background-color: #5cb85c;
  border-color: #4cae4c;
}
.ui-state-default a,
.ui-state-default a:link,
.ui-state-default a:visited {
	color: #555555;
	text-decoration: none;
}
.ui-state-hover,
.ui-widget-content .ui-state-hover,
.ui-widget-header .ui-state-hover,
.ui-state-focus,
.ui-widget-content .ui-state-focus,
.ui-widget-header .ui-state-focus {
	border: 1px solid #fff;
	font-weight: normal;
	color: #fff;
}
.ui-state-hover a,
.ui-state-hover a:hover,
.ui-state-hover a:link,
.ui-state-hover a:visited,
.ui-state-focus a,
.ui-state-focus a:hover,
.ui-state-focus a:link,
.ui-state-focus a:visited {
	color: #212121;
	text-decoration: none;
}
.ui-state-active,
.ui-widget-content .ui-state-active,
.ui-widget-header .ui-state-active {
  border: 1px solid #fff;
  font-weight: normal;
  color: #fff;
}
.ui-state-active a,
.ui-state-active a:link,
.ui-state-active a:visited {
	color: #212121;
	text-decoration: none;
}

.img,
.img-responsive {
	width: 180px;
  height: 180px;
}

.wizard .wizard-inner {
  position: relative;
  overflow: hidden;
  background-color: rgba(249, 249, 249, 0.7);
  border: 1px solid rgba(212, 212, 212, 0.7);
  border-radius: 5px;
}


.div-background-color {
	 /*position: relative;*/
  /*overflow: hidden;*/
  background-color: rgba(249, 249, 249, 0.7);
  border: 1px solid rgba(212, 212, 212, 0.7);
  border-radius: 15px;
  height: 630px;
}

.panel {
  margin-bottom: 20px;
  background-color: rgba(249, 249, 249, 0.4);
  border: 1px solid transparent;
  border-radius: 4px;
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, .05);
  box-shadow: 0 1px 1px rgba(0, 0, 0, .05);
}

.book-that-lesson {
  background-color: rgba(249, 249, 249, 0.4);
  border-radius: 5px;
  text-align: center;
}

#feedback {
 font-size: 1em;
}

#selectable .ui-selecting {
 background: #FECA40;
}

#selectable {
 list-style-type: none; margin: 0; padding: 0; width: 60%;
}

#selectable li {
 margin: 3px;
 padding: 0.4em;
 font-size: 1em;
 height: 30px;
}

#selectable .ui-selected {
  background: #a6c9e2;
  color: #ddd;
}

#selectable:hover {
	cursor: copy;
}
