

 /* --- Fonts selection ---*/
@import url(https://fonts.googleapis.com/css?family=Reenie+Beanie|Architects+Daughter|Rock+Salt|Special+Elite|Nunito|Inconsolata);
@import url(https://fonts.googleapis.com/css?family=ABeeZee:400,100,100italic,300,300italic,400italic,500,500italic,700,700italic,900,900italic);
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,100,100italic,300,300italic,400italic,500,500italic,700,700italic,900,900italic);

/* Global Styles */

body{
	background: #1e73be;
	color: #34495e;font-family: 'ABeeZee';size: 14px;
}

.main-div {
	background: url(../img/BookThatLesson.jpg) no-repeat center;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	background-size: cover;
	-o-background-size: cover;
	filter: Alpha(Opacity=0);
	position:fixed !important;
	/*position:absolute;*/
	top:0;
	right:0;
	bottom:0;
	left:0;
	font-family: 'ABeeZee';
}

.div-background {
	margin-top: 100px;
	font-family: 'ABeeZee';
}

.log-me-in,
.im-new-here,
.express-appt {
	background-color: rgba(255,255,255,0.4);
	border-radius: 15px;
}

.user-profile {
  height: 400px;
  margin-top: -60px;
}


.logmein,
.imnewhere,
.expressappt {
	text-shadow: 1px 1px #999;
}

.top-padding {
	margin-top: 28px;
}

 /* Heading Style */

h1, h2, h3, h4, h5, h6{
	font-family: 'ABeeZee';}


/* NAV BAR Style*/

.navbar-inverse {
	color: #1e73be;
	background-color: rgba(255,255,255,0.5);
	border-color: #1e73be;
}

.navbar-inverse .navbar-brand {
	color: #1e73be;
}

a.navbar-brand:hover,
a.navbar-inverse:hover,
a.navbar-brand:focus,
a.navbar-inverse:focus,
a.navbar-brand:active,
a.navbar-inverse:active {
	color: #34495e;
}

.navbar-inverse .navbar-toggle:hover, .navbar-inverse .navbar-toggle:focus {
  background-color: #fff;
}

@media (min-width: 768px) {
	.navbar-right {
	  float: right !important;
	  margin-right: 0px;
	  width: 175px;
		padding-top: 10px;
	}
}

.user-nav {
	padding-right: 20px;
	font-size: 2.2em;
}

/*.book-that-lesson {
	color: red;
}*/


/*Link Color*/

a {
	color: #aaa;
	text-decoration: none;
}


/*Link Hover Color*/

a:hover {
	color: #aaa;
	text-decoration: none;
}

a:active,
a:focus {
	color: #fff;
	text-decoration: none;
}

/* Header Style */

#header {
	background-color: #ffffff;}


/* Footer Style */

footer {
	color: #1e73be;
	background-color: rgba(255,255,255,0.4);
}


.list-group-item {
  position: relative;
  display: block;
  padding: 10px 15px;
  margin-bottom: -1px;
  background-color: rgba(255,255,255,0.2);
  border: none;
}

a.list-group-item .list-group-item-heading {
	text-align: center;
	font-size: 0.75em;
  color: #337ab7;
}

a.list-group-item,
a.list-group-item-text,
a.list-group-item-heading {
  color: #337ab7;
}

.instructor-profile {
	text-align: center;
	width: 100%;
}

.profile-details>ul {
	width: 100%;
}


.profile-details {
	text-align: left;
}

@media (min-width: 992px) {
	.col-md-9 {
  	width: 75%;
  	padding-left: 8%;
	}
}

.main-box .main-box-body {
  padding: 0px;
}

.text-info {
  color: #31708f;
  margin-left: 290px;
}

.lesson-selection {
	font-size: 2em;
}

.select-lesson {
  text-align: center;
  margin-top: 50px;
  font-size: 20px;
}

.main-box h2 {
  font-size: 2em;
  line-height: 29px;
  padding: 0;
  text-align: center;
}

.description {
  width: 60%;
  text-align: center;
  margin-left: 15%;
  margin-right: 15%;
}

input, button, select, textarea {
  font-size: 20px;
}

.navbar-inverse .navbar-toggle .icon-bar {
  background-color: #1e73be;
}

.navbar-inverse .navbar-toggle {
  border-color: transparent;
}

.review {
	padding-left: 15px;
}


/* Interaction states
----------------------------------*/

.btn-primary {
  color: #fff;
  background-color: #337ab7;
  border-color: #2e6da4;
  font-size: 2em;
  border-radius: 10px;
}

.btn-success {
  color: #fff;
  background-color: #5cb85c;
  border-color: #4cae4c;
}

.btn-info {
  color: #fff;
  background-color: #5bc0de;
  border-color: #46b8da;
}

.ui-state-primary,
.ui-widget-content .ui-state-primary,
.ui-widget-header .ui-state-primary {
  color: #fff;
  background-color: #337ab7;
  border-color: #2e6da4;
}

.ui-state-default,
.ui-widget-content .ui-state-default,
.ui-widget-header .ui-state-default {
  color: #fff;
  background-color: #5cb85c;
  border-color: #4cae4c;
}
.ui-state-default a,
.ui-state-default a:link,
.ui-state-default a:visited {
	color: #555555;
	text-decoration: none;
}
.ui-state-hover,
.ui-widget-content .ui-state-hover,
.ui-widget-header .ui-state-hover,
.ui-state-focus,
.ui-widget-content .ui-state-focus,
.ui-widget-header .ui-state-focus {
	border: 1px solid #fff;
	font-weight: normal;
	color: #fff;
}
.ui-state-hover a,
.ui-state-hover a:hover,
.ui-state-hover a:link,
.ui-state-hover a:visited,
.ui-state-focus a,
.ui-state-focus a:hover,
.ui-state-focus a:link,
.ui-state-focus a:visited {
	color: #212121;
	text-decoration: none;
}
.ui-state-active,
.ui-widget-content .ui-state-active,
.ui-widget-header .ui-state-active {
  border: 1px solid #fff;
  font-weight: normal;
  color: #fff;
}
.ui-state-active a,
.ui-state-active a:link,
.ui-state-active a:visited {
	color: #212121;
	text-decoration: none;
}

.img,
.img-responsive {
	width: 180px;
  height: 180px;
}

.wizard .wizard-inner {
  position: relative;
  overflow: hidden;
  background-color: rgba(249, 249, 249, 0.7);
  border: 1px solid rgba(212, 212, 212, 0.7);
  border-radius: 5px;
}


.div-background-color {
  background-color: rgba(249, 249, 249, 0.4);
  border: 1px solid rgba(212, 212, 212, 0.7);
  border-radius: 15px;
  height: 640px;
}

.panel {
  margin-bottom: 20px;
  background-color: rgba(249, 249, 249, 0.4);
  border: 1px solid transparent;
  border-radius: 4px;
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, .05);
  box-shadow: 0 1px 1px rgba(0, 0, 0, .05);
}

.book-that-lesson {
  background-color: rgba(249, 249, 249, 0.4);
  border-radius: 5px;
  text-align: center;
  margin-top: 35px;
  position: relative;
  top: 60px;
}

.book-it {
	text-align: center;
}

#feedback {
 font-size: 1em;
}

#selectable .ui-selecting {
 background: #FECA40;
}

#selectable {
 list-style-type: none; margin: 0; padding: 0; width: 60%;
}

#selectable li {
 margin: 3px;
 padding: 0.4em;
 font-size: 1em;
 height: 30px;
}

#selectable .ui-selected {
  background: #a6c9e2;
  color: #ddd;
}

#selectable:hover {
	cursor: copy;
}

.click-instructor {
	text-align: center;
}

.select-lesson {
  font-size: 20px;
}

/* Calendar Style
----------------------------------*/

.ui-datepicker,
.ui-datepicker table,
.ui-datepicker tr,
.ui-datepicker td,
.ui-datepicker th {
    margin: 0;
    padding: 0;
    border: none;
    border-spacing: 0;
}

.ui-datepicker {
    display: none;
    width: 294px;
    padding: 35px;
    cursor: default;

    text-transform: uppercase;
    font-family: Tahoma;
    font-size: 12px;

    background: #a6c9e2;

    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;

    -webkit-box-shadow: 0px 1px 1px rgba(255,255,255, .1), inset 0px 1px 1px rgb(0,0,0);
    -moz-box-shadow: 0px 1px 1px rgba(255,255,255, .1), inset 0px 1px 1px rgb(0,0,0);
    box-shadow: 0px 1px 1px rgba(255,255,255, .1), inset 0px 1px 1px rgb(0,0,0);
}

.ui-datepicker-header {
    position: relative;
    padding-bottom: 10px;
    border-bottom: 1px solid #d6d6d6;
}

.ui-datepicker-title { text-align: center; }

.ui-datepicker-month {
    position: relative;
    padding-right: 15px;
    color: #565656;
}

.ui-datepicker-year {
    padding-left: 8px;
    color: #a8a8a8;
}

.ui-datepicker-month:before {
    display: block;
    position: absolute;
    top: 5px;
    right: 0;
    width: 5px;
    height: 5px;
    content: '';

    background: #a5cd4e;
    background: -moz-linear-gradient(top, #a5cd4e 0%, #6b8f1a 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#a5cd4e), color-stop(100%,#6b8f1a));
    background: -webkit-linear-gradient(top, #a5cd4e 0%,#6b8f1a 100%);
    background: -o-linear-gradient(top, #a5cd4e 0%,#6b8f1a 100%);
    background: -ms-linear-gradient(top, #a5cd4e 0%,#6b8f1a 100%);
    background: linear-gradient(top, #a5cd4e 0%,#6b8f1a 100%);

    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

.ui-datepicker-prev,
.ui-datepicker-next {
    position: absolute;
    top: -2px;
    padding: 5px;
    cursor: pointer;
}

.ui-datepicker-prev {
    left: 0;
    padding-left: 0;
}

.ui-datepicker-next {
    right: 0;
    padding-right: 0;
}

.ui-datepicker-prev span,
.ui-datepicker-next span{
    display: block;
    width: 5px;
    height: 10px;
    text-indent: -9999px;

    background-image: url(../img/arrows.png);
}

.ui-datepicker-prev span { background-position: 0px 0px; }

.ui-datepicker-next span { background-position: -5px 0px; }

.ui-datepicker-prev-hover span { background-position: 0px -10px; }

.ui-datepicker-next-hover span { background-position: -5px -10px; }

.ui-datepicker-calendar th {
    padding-top: 15px;
    padding-bottom: 10px;

    text-align: center;
    font-weight: normal;
    color: #a8a8a8;
}

.ui-datepicker-calendar td {
    padding: 0 7px;

    text-align: center;
    line-height: 26px;
}

.ui-datepicker-calendar .ui-state-default {
    display: block;
    width: 26px;
    outline: none;

    text-decoration: none;
    color: #a8a8a8;

    border: 1px solid transparent;
}

.ui-datepicker-calendar .ui-state-active {
    color: #6a9113;
    border: 1px solid #6a9113;
}

.ui-datepicker-other-month .ui-state-default { color: #565656; }







