	<nav role="navigation" class="navbar navbar-inverse navbar-fixed-top" ng-controller="MainCtrl">
		<div class="container-fluid">
			<div class="navbar-header">
				<button type="button" data-target="#navbarCollapse" data-toggle="collapse" class="navbar-toggle">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<a href="/#/" class="navbar-brand">Book That Lesson!</a>
			</div>
			<div id="navbarCollapse" class="collapse navbar-collapse">
				<ul class="nav navbar-nav">
				</ul>
				<ul class="nav navbar-nav navbar-right" ng-show="rootScope.email">
				</ul>
			</div>
		</div>
	</nav>
	<br><br><br><br><br>

	<div class="container-fluid main-div">
		<div class="col-md-12">
			<div class="row">
				<div class="col-md-1"></div>
				<div class="col-md-10">
					<div class="row div-background">

						<div class="col-md-4 log-me-in"><h1 class="logmein">Log Me In</h1><br>
							<button type="button" class="btn btn-primary navbar-btn top-padding" ng-click="displayLogin()">Log Me In</button>
							<div ng-show="showLogin">
								<h4> {{messageLogin}} </h4>
								<h4> {{messageLogin2}} </h4><br>
								<form role="form" novalidate="novalidate" name="userForm">
									<div class="form-group">
										<label for="email">Email</label>
										<input id="email" type="text" name="email" ng-model="user.email" autofocus="autofocus" required="required" ng-minlength="3" class="form-control"/>
									</div>
									<div class="form-group">
										<label for="password">Password</label>
										<input id="password" type="password" name="password" ng-model="user.password" required="required" ng-minlength="3" class="form-control"/>
									</div>
									<button ng-click="login()" class="btn btn-primary">Login >></button>
								</form>
							</div><br>
						</div>

						<div class="col-md-4 im-new-here"><h1 class="imnewhere">I'm New Here</h1><br>
							<button type="button" class="btn btn-primary navbar-btn top-padding" ng-click="displayRegister()">Register</button>
							<div ng-show="showRegister">
								<h4> {{messageRegister}} </h4><br>
								<form role="form" novalidate="novalidate" name="userForm">
									<div class="form-group">
										<label for="email">Email</label>
										<input id="email" type="text" name="email" ng-model="user.email" autofocus="autofocus" required="required" ng-minlength="3" class="form-control"/>
									</div>
									<div class="form-group">
										<label for="name">Name</label>
										<input id="name" type="text" name="name" ng-model="user.name" autofocus="autofocus" required="required" ng-minlength="3" class="form-control"/>
									</div>
									<div class="form-group">
										<label for="password">Password</label>
										<input id="password" type="password" name="password" ng-model="user.password" required="required" ng-minlength="3" class="form-control"/>
									</div>
									<button ng-click="register()" class="btn btn-primary">Register >></button>
								</form>
							</div><br>
						</div>



						<div class="col-md-4 express-appt"><h1 class="expressappt">Express Appointment</h1>
							<button type="button" class="btn btn-primary navbar-btn" ng-click="displayExpress()">Express</button>
							<div ng-show="showExpress"><br><br><br><br><br>
								<h4> {{messageExpress}} </h4>
								<h4> {{messageExpress2}} </h4><br><br><br><br><br><br>
							</div>
						</div>

					</div>
				</div>
				<div class="col-md-1"></div>
			</div>
		</div>
	</div>



