	<nav role="navigation" class="navbar navbar-inverse navbar-fixed-top">
		<div class="container-fluid">
			<div class="navbar-header">
				<button type="button" data-target="#navbarCollapse" data-toggle="collapse" class="navbar-toggle">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<a href="/#/" class="navbar-brand">Book That Lesson!</a>
			</div>
			<div id="navbarCollapse" class="collapse navbar-collapse">
				<ul class="nav navbar-nav">
				</ul>
				<ul class="nav navbar-nav navbar-right">
					<li class="user-nav">{{ auth.password.email }}</li>
					<li class="logout-nav"><button ng-click="logout()" class="btn btn-danger">Logout</li>
				</ul>
			</div>
		</div>
	</nav>
	<br><br><br><br><br>
	<div class="container-fluid main-div">
		<div class="col-md-12">
			<div class="row">
				<div class="col-md-1"></div>
				<div class="col-md-10">
					<div class="row div-background">
						<div class="col-md-2"></div>
						<div class="col-md-8 user-profile">
							<h1 class="logmein">Welcome {{ auth.password.email }}!</h1><br>



							<div class="row">
								<div class="col-md-1"></div>
								<div class="col-md-10">
									<div class="pannel pannel-default">
										<div class="pannel-body">
											<h3>Book a Lesson</h3>
											<form role="form" novalidate name="userForm" ng-submit="addLesson()">
												<div class="form-group">
													<label for="title">What do you want to learn?</label>
													<input id="title" type="text" name="title" ng-model="newLesson.title" autofocus="autofocus" required="required" ng-minlength="3" class="form-control"/>
												</div>
												<div class="form-group">
													<label for="description">Description:</label>
													<input id="description" type="text" name="description" ng-model="newLesson.description" required="required" ng-minlength="3" class="form-control"/>
												</div>
												<div class="form-group">
													<label for="priority">Instructor:</label>
													<input id="instructor" type="text" name="instructor" ng-model="newLesson.instructor" required="required" ng-minlength="3" class="form-control"/>
												</div>
												<div class="form-group">
													<label for="priority">Available Appointmens:</label>
													<input id="appointment" type="text" name="appointment" ng-model="newLesson.appointment" required="required" ng-minlength="3" class="form-control"/>
												</div>
												<input type="submit" class="btn btn-primary" />
											</form>
										</div>
									</div>
								</div>
								<div class="col-md-1"></div>
							</div>



						</div>
						<div class="col-md-2"></div>
					</div>
				</div>
				<div class="col-md-1"></div>
			</div>
		</div>
	</div>


