	<nav role="navigation" class="navbar navbar-inverse navbar-fixed-top" ng-controller="MainCtrl">
		<div class="container-fluid">
			<div class="navbar-header">
				<button type="button" data-target="#navbarCollapse" data-toggle="collapse" class="navbar-toggle">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<a href="/#/" class="navbar-brand">Book That Lesson!</a>
			</div>
			<div id="navbarCollapse" class="collapse navbar-collapse">
				<ul class="nav navbar-nav">
				</ul>
				<ul class="nav navbar-nav navbar-right">
					<li class="user-nav">{{ username }}</li>
					<li class="logout-nav"><button ng-click="logout()" class="btn btn-danger">Logout</li>
				</ul>
			</div>
		</div>
	</nav>
	<br><br><br><br><br>
	<div class="container-fluid main-div">
		<div class="col-lg-12 col-md-12">
			<div class="row div-background">
				<div class="col-md-12">
					<div class="row ">
						<div class="col-md-12 user-profile">
							<h1 class="logmein"> {{ username }} </h1><br>


							<div class="row">
								<div class="col-md-1"></div>
								<div class="col-md-10">

<!-- START breadcrumb BAR -->
<!-- Here is where the magin happens! -->


									<div class="row" style="opacity: 1;">
										<div class="col-lg-12">
											<div class="row">
												<div class="col-lg-12 div-background-color">
													<div class="main-box clearfix" style="min-height: 820px;">
														<div class="main-box-body clearfix">
															<div id="myWizard" class="wizard">


<!-- This is the breadcrum bar's header/navigation buttons -->

																<div class="wizard-inner">
																	<ul class="steps" style="margin-left: 0">
																	<li data-target="#step1" class="active"><span class="badge badge-success">1</span>LESSON<span class="chevron"></span></li>
																	<li data-target="#step2" class="complete"><span class="badge badge-success">2</span>INSTRUCTOR<span class="chevron"></span></li>
																	<li data-target="#step3" class="complete"><span class="badge badge-success">3</span>APPOINTMENT<span class="chevron"></span></li>
																	<li data-target="#step4" class="complete"><span class="badge badge-primary">4</span>REVIEW & BOOK<span class="chevron"></span></li>
																	</ul>
																	<div class="actions">
																		<button type="button" class="btn btn-default btn-mini btn-prev"> <i class="icon-arrow-left"></i>Prev</button>
																		<button type="button" class="btn btn-success btn-mini btn-next" data-last="Book It!">Next<i class="icon-arrow-right"></i></button>
																	</div>
																</div>

<!-- ENDS the breadcrum bar's header/navigation buttons -->

<!-- This is the breadcrum bar's STEP 1 -->

																<div class="step-content">
																<form role="form" novalidate name="userForm">
																	<div class="step-pane active form-group" id="step1">
																		<br>
																			<fieldset class="select-lesson">
																				<label for="lesson-selection"><h2>What are you looking for?</h2></label>
																				<select id="title" name="title" ng-model="newLesson.title" autofocus="autofocus" required="required">
																				<option value="swingEvaluation">Swing Evaluation</option>
																					<optgroup label="Off the tee">
																						<option value="driver">Driver</option>
																						<option value="hybrids">Hybrids</option>
																						<option value="irons">Irons</option>
																					</optgroup>
																					<option value="hybridsAndIrons">Hybrids and Irons</option>
																					<option value="shortGame">Short Game</option>
																					<option value="Bunkers">Bunkers</option>
																					<option value="putting">Putting</option>
																					<option value="fundamentals">Fundamentals</option>
																				</select>
																			</fieldset><br><br><br>
																			<div class="form-group description">
																				<label for="description"><h2>Description: (tell us a little bit what you want to fix)</h2></label><br>
																				<input id="description" type="text" name="description" ng-model="newLesson.description" required="required" ng-minlength="3" class="form-control"/>
																			</div>
																	</div>

<!-- ENDS the breadcrum bar's STEP 1 -->


<!-- This is the breadcrum bar's STEP 2 -->


																	<div class="step-pane form-group" id="step2">
																		<br><h2>Who do you want to see?</h2><br>

																		<div class="row instructor-profile btn-group" data-toggle="buttons">
																			<div id="radio" class="ui-buttonset">
																				<div class="col-md-4 col-lg-4">
																							<div class="main-box clearfix">
																								<header class="main-box-header clearfix">
																								<label><input type="radio" name="instructor" ng-model="newLesson.instructor" value="LandoB"/> Select</label>
																									<h2>B, Lando B</h2>
																								</header>
																							<div class="main-box-body clearfix">
																								<img src="img/BLandoB.png" alt="" class="profile-img img-responsive center-block">
																								<div class="profile-label">
																									<span class="label label-default">Certified Golf Coach</span>
																								</div>
																								<div class="profile-stars">
																									<i class="fa fa-star"></i>
																									<i class="fa fa-star"></i>
																									<i class="fa fa-star"></i>
																									<i class="fa fa-star"></i>
																									<i class="fa fa-star"></i>
																									<span>Teaching Skills</span>
																								</div>
																								<div class="profile-since">
																									Member since: Dec 2013
																								</div>
																								<div class="profile-details">
																									<ul class="fa-ul">
																										<li><i class="fa-li fa fa-trophy"></i>Awards: <span>4</span></li>
																										<li><i class="fa-li fa fa-certificate"></i>PGA Status: <span>PGA Certified Professional</span></li>
																										<li><i class="fa-li fa fa-mobile"></i>Mobile: <span>(615)123-4567</span></li>
																									</ul>
																								</div><br><br><br>
																							</div>
																						</div>
																				</div>
																				<div class="col-md-4 col-lg-4">
																					<div class="main-box clearfix">
																								<header class="main-box-header clearfix">
																								<label><input type="radio" name="instructor" ng-model="newLesson.instructor" value="AngelinaJolie"/> Select</label>
																									<h2>Angelina Jolie</h2>
																								</header>
																							<div class="main-box-body clearfix">
																								<img src="img/AngelinaJolie.png" alt="" class="profile-img img-responsive center-block">
																								<div class="profile-label">
																									<span class="label label-default">Certified Golf Instructor</span>
																								</div>
																								<div class="profile-stars">
																									<i class="fa fa-star"></i>
																									<i class="fa fa-star"></i>
																									<i class="fa fa-star"></i>
																									<i class="fa fa-star"></i>
																									<i class="fa fa-star-o"></i>
																									<span>Teaching Skills</span>
																								</div>
																								<div class="profile-since">
																									Member since: Jan 2001
																								</div>
																								<div class="profile-details">
																									<ul class="fa-ul">
																										<li><i class="fa-li fa fa-trophy"></i>Awards: <span>7</span></li>
																										<li><i class="fa-li fa fa-certificate"></i>PGA Status: <span>PGA Certified Professional</span></li>
																										<li><i class="fa-li fa fa-mobile"></i>Mobile: <span>(615)123-4567</span></li>
																									</ul>
																								</div><br><br><br>
																							</div>
																						</div>
																				</div>
																				<div class="col-md-4 col-lg-4">
																					<div class="main-box clearfix">
																								<header class="main-box-header clearfix">
																								<label><input type="radio" name="instructor" ng-model="newLesson.instructor" value="MilaKunis"/> Select</label>
																									<h2>Mila Kunis</h2>
																								</header>
																							<div class="main-box-body clearfix">
																								<img src="img/MilaKunis.png" alt="" class="profile-img img-responsive center-block">
																								<div class="profile-label">
																									<span class="label label-default">Certified Golf Assistant Coach</span>
																								</div>
																								<div class="profile-stars">
																									<i class="fa fa-star"></i>
																									<i class="fa fa-star"></i>
																									<i class="fa fa-star"></i>
																									<i class="fa fa-star-o"></i>
																									<i class="fa fa-star-o"></i>
																									<span>Teaching Skills</span>
																								</div>
																								<div class="profile-since">
																									Member since: Apr 2010
																								</div>
																								<div class="profile-details">
																									<ul class="fa-ul">
																										<li><i class="fa-li fa fa-trophy"></i>Awards: <span>2</span></li>
																										<li><i class="fa-li fa fa-certificate"></i>PGA Status: <span>PGA Certified Professional</span></li>
																										<li><i class="fa-li fa fa-mobile"></i>Mobile: <span>(615)123-4567</span></li>
																									</ul>
																								</div><br><br><br>

																							</div>
																						</div>

																				</div>
																			</div>
																			<div><h4>You selected: <strong>{{newLesson.instructor}}</strong></h4></div>
																		</div>
																	</div>


<!-- ENDS the breadcrum bar's STEP 2 -->

<!-- This is the breadcrum bar's STEP 3 -->
<!-- CALENDAR/APPOINTMENT -->

																	<div class="step-pane" id="step3">
																	<br>
																		<p class="text-center select-lesson"><h2>What time would you like to meet?</h2><br><strong class="text-info">Quick! Other people are booking times too!</strong></p>
																		  <div class="row times">
																				<div class="container">
																			    <div class="row">
																			    	<div class="col-lg-1 col-md-1 "></div>
																			    	<div class="col-lg-10 col-md-10">
																								<!-- CALENDAR VIEW -->
																									<form name="timepickerForm" class="form-inline" role="form">
																									  <!-- Datetime example -->
																									  <div class="form-group">
																									    <label class="control-label"><i class="fa fa-calendar"></i> Select Date:</label><br>
																									    <div class="form-group">
																									      <input type="date" size="10" class="form-control" ng-model="newLesson.appointment_date" data-autoclose="1" placeholder="mm/dd/yyyy" bs-datepicker>
																									    </div>
																									    <label class="control-label"><i class="fa fa-clock-o"></i> Select Time:</label><br>
																									    <div class="form-group">
																									      <input type="time" size="8" class="form-control" ng-model="newLesson.appointment_time" data-time-format="h:mm" data-autoclose="1" placeholder="hh:mm" bs-timepicker>
																									    </div>
																									  </div>
																									</form>
																						</div>
																						<div class="col-lg-1 col-md-1"></div>
																					</div>
																					</div>
																				</div>
																	</div>

<!-- ENDS the breadcrum bar's STEP 3 -->

<!-- This is the breadcrum bar's STEP 4 -->


																	<div class="step-pane review" id="step4">
																	<br>
																	<h4>Review your appointment</h4>
																		<div class="row">
																			<div class="col-lg-1 col-md-1"></div>
																			<div class="col-lg-10 col-md-10">
																					<p><h2>{{username}},</h2></p>

																					<p><h3>Your appointment for: <strong>{{newLesson.title}}</strong></h3></p>
																					<p><h3>to work on <strong>{{newLesson.description}}</strong></h3></p>
																					<p><h3>with instructor <strong>{{newLesson.instructor}}</strong></h3></p>
																					<p><h3>on <strong>{{newLesson.appointment_date | date:"EEEE, MMMM d, yyyy"}}</strong> at <strong>{{newLesson.appointment_time}}</strong> is ready!</p><br><br><br><br>
																					<div>
																						<button ng-click="addLesson()" class="btn btn-large btn-primary">Book It! >></button>
																					</div>
																			</div>
																			<div class="col-lg-1 col-md-1"></div>
																		</div>
																	</div>
																	</form>
																</div>


<!-- ENDS the breadcrum bar's STEP 4 -->

															</div>
														</div>
													</div>
												</div>
											</div>
										</div>
									</div>


<!-- END breadcrumb BAR -->


								</div>
								<div class="col-md-1"></div>
							</div>



						</div>
					</div>
				</div>
			</div>
		</div>
	</div>







