<h1>This is the STUDENT page</h1>

	<div class="container-fluid main-div">
		<div class="col-md-12">
			<div class="row">
				<div class="col-md-1"></div>
				<div class="col-md-10">
					<div class="row div-background">

						<div class="col-md-2"></div>
						<div class="col-md-6 log-me-in"><h1 class="logmein">Welcome {{ studentName }}!</h1><br>
						<h3 class="logmein">You have {{ lessons.length }} lesson(s) booked.</h3><br>
							<div id="lessons" class="row">
								<div class="col-sm-12 col-md-4" ng-repeat="lesson in lessons">
								<!-- <p> {{ lesson }}</p> -->
								<div class="row" ng-repeat='lesson in lessons'>
								  <div class="col-xs-3">{{ lesson.1.description }}</div>
								  <div class="col-xs-3">{{ lesson.1.instructor }}</div>
								  <div class="col-xs-3">{{ lesson.1.date }}</div>
								  <div class="col-xs-3">
								    <button ng-click="editLesson()">Modify</button>
								    <button ng-click="cancelLesson()">Cancel</button>
								  </div>
								</div>
								</div>
							</div>
						</div>
						<div class="col-md-2"></div>

					</div>
				</div>
				<div class="col-md-1"></div>
			</div>
		</div>
	</div>
