	<nav role="navigation" class="navbar navbar-inverse navbar-fixed-top" ng-controller="MainCtrl">
		<div class="container-fluid">
			<div class="navbar-header">
				<button type="button" data-target="#navbarCollapse" data-toggle="collapse" class="navbar-toggle">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<a href="/#/" class="navbar-brand">Book That Lesson!</a>
			</div>
			<div id="navbarCollapse" class="collapse navbar-collapse">
				<ul class="nav navbar-nav">
				</ul>
				<ul class="nav navbar-nav navbar-right">
					<li class="user-nav"><h4>{{ username }}</h4></li>
					<li class="logout-nav"><button ng-click="logout()" class="btn btn-danger">Logout</li>
				</ul>
			</div>
		</div>
	</nav>
	<br><br><br><br><br>
	<div class="container-fluid main-div">
		<div class="col-md-12">
			<div class="row">
				<div class="col-md-1"></div>
				<div class="col-md-10">
					<div class="row div-background">
						<div class="col-md-1"></div>
						<div class="col-md-10 user-profile">
							<h1 class="logmein">Welcome {{ username }}!</h1><br>


							<h3 class="logmein">These are your current lessons booked:</h3><br>
							<div class="row log-me-in" ng-repeat='lesson in lessons'>
								<div class="col-md-2">
									<p>{{lesson.title}}</p>
								</div>
								<div class="col-md-2">
									<p>{{lesson.description}}</p>
								</div>
								<div class="col-md-2">
									<p>{{lesson.instructor}}</p>
								</div>
								<div class="col-md-2">
									<p>{{lesson.appointment}}</p>
								</div>
								<div class="col-md-4">
									<button class="btn btn-primary fa fa-pencil" ng-click="deleteTodo()"> Modify Appointment</button>
									<button class="btn btn-danger fa fa-times" ng-click="deleteTodo()"> Cancel Appointment</button>
								</div>
							</div>

							<h3>Let's Book That Lesson!</h3><br><br>
											<form role="form" novalidate name="userForm" ng-controller="LessonCtrl">
												<button ng-click="callLesson()" class="btn btn-primary">Book a new lesson >></button>
											</form>
						</div>
						<div class="col-md-1"></div>
					</div>
				</div>
				<div class="col-md-1"></div>
			</div>
		</div>
	</div>







